:root {
  --pop: #2a9d8f;
  --dark: #264653;
  --danger: #e76f51;
  --bright: #e9c976;
  --light: #fff;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: var(--pop) !important;
}

.display-4, .mt-4 {
  color: var(--dark);
}

a[href]:hover {
  color: var(--dark) !important;
}

.container {
  background-color: var(--bright);
  border-radius: 20px;
}

i.fa-pen-to-square {
  font-size: 1.8rem;
}

.btn {
  background-color: var(--dark);
  margin-top: 1.5rem; 
  color: var(--light);
}

.btn:hover {
  color: var(--light);
  background-color: var(--dark);
  padding-bottom: 0.6rem;
  transition: all 0.3s ease-in-out;
}

.save-note {
  display: none;
}

.icons i {
  margin-left: 15px;
  margin-right: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}

i.save-note:hover, 
i.new-note:hover {
  color: var(--bright) !important;
  font-size: 1.7rem;
  transition: all 0.3s ease-in-out;
}

.delete-note {
  color: var(--danger)
}

.delete-note:hover {
  font-size: 1.3rem;
  transition: all 0.3s ease-in-out;
}

.note-textarea,
.note-title {
  color: var(--dark);
  width: 100%;
  outline: none;
  border: none;
}

.note-textarea {
  resize: none;
  height: calc(100% - 63px);
  padding-top: 15px;
}

.note-title {
  height: 50px;
  margin-top: 13px;
  font-size: 3rem;
}

.note-title:read-only,
.note-textarea:read-only {
  color: var(--dark);
}

.list-container .card {
  height: calc(100vh - 70px);
  border-bottom: none;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.list-container {
  padding-left: 0;
}

.list-container .list-group,
.list-container .list-group-item:first-child,
.list-container .card {
  border-top: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.list-item-title {
  display: inline-block;
  width: 75%;
}

.list-container i {
  font-size: 1.1rem;
  cursor: pointer;
}

.list-container .list-group-item {
  border-left: none;
  border-right: none;
  padding: 20px;
  cursor: pointer;
}
